{% extends 'FitchFrontEndBundle::frontend.html.twig' %}

{% block main_header -%}
    <h2>{% trans %}home.title{% endtrans %}</h2><em>{% trans %}home.tagline{% endtrans %}</em>
{% endblock %}

{% block main_content -%}
<div class="widget widget-table">
    <div class="widget-header"><h3><i class="fa fa-table"></i> Featured Table</h3> <em> - <a href="http://datatables.net/">jQuery Data Table</a> with sorting feature, live search and pagination</em></div>
    <div class="widget-content">
        <table id="tutor_table" class="table table-sorting table-striped table-hover datatable" cellpadding="0" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Full Name</th>
                    <th>Type</th>
                    <th>Region</th>
                    <th>Status</th>
                    <th>Competencies</th>
                    <th>Competencies Search</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    {% javascripts
    '@datatable_js'
    '@FitchTutorBundle/Resources/public/js/tutor-table.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}