
    <div class="row admin-function">
        {% if is_granted('ROLE_CAN_EDIT_TUTOR') %}
        <div class="alert alert-warning" role="alert">
            <h4><i class="fa fa-exclamation-triangle"></i> Delete Trainer</h4>
            <p>To completely and irreversibly delete a trainer, use the button below.</p>
            <p>It is almost always better to just set an appropriate status for a trainer if they are no longer of
               service. This will stop other users of the system from recreating the trainer, and stops historic
               information from being lost.
            </p>
            <p><strong>This function should only be used to remove trainer records created in error. </strong></p>
        </div>
        <div class="well">
            {% form_theme delete_form 'FitchFrontEndBundle:Form:inline.html.twig' %}
            {{ form(delete_form, {'attr': {'class': 'form-inline'} }) }}
        </div>
        {% endif %}
    </div>
