<span class="data-action">
    <a href="#" data-pk="{{ file.getId }}" class="btn btn-danger btn-xs remove-file"><i class="fa fa-remove"></i></a>
</span>
<span class="data-link">
    {% if not file.getFileType.isPrivate and file.isImage %}
    <button class="btn btn-default btn-xs" data-toggle="modal" data-target="#modal-compose{{ file.getId }}"><i class="fa fa-eye"></i> Preview</button>
        {% include 'FitchTutorBundle:Profile:preview.html.twig' %}
    {% endif %}
</span>
