{% if prototype is not defined %}{% set prototype=false %}{% endif %}
<div class="data-row" data-id="{% if prototype %}{{ tutorId }}{% else %}{{ tutor.getId }}{% endif %}" data-tutor-language-pk="{% if prototype %}0{% else %}{{ tutorLanguage.getId }}{% endif %}">
    {% if isEditor %}
        {% include 'FitchTutorBundle:Profile:language_row_inner.html.twig' %}
    {% else %}
        {% include 'FitchTutorBundle:Profile:language_row_inner.readonly.html.twig' %}
    {% endif %}
</div>
