<span class="data-name">
    &nbsp;
</span>
<span class="data-value">
{% if tutorLanguage.getLanguage %}{{ tutorLanguage.getLanguage.getName }}{% endif %}
</span>
<span class="data-note">
    {{ tutorLanguage.getNote }}
</span>
