{% extends 'FitchFrontEndBundle::frontend.html.twig' %}

{% block main_header -%}
    <h2>{% trans %}tutor.show.verb{% endtrans %}</h2>
    <em>{% trans %}tutor.show.tagline{% endtrans %}</em>
{% endblock %}

{% block main_content -%}
    <div class="sr-only" id="tutorId" data-tutor-pk="{{ tutor.getId }}"></div>
    <ul class="nav nav-tabs">
        <li {% if tab == 'profile' %}class="active"{% endif %}><a href="#profile-tab" data-toggle="tab"><i class="fa fa-user"></i> {% trans %}profile.tab.profile{% endtrans %}</a></li>
        {% if isAdmin %}
        <li {% if tab == 'engagement' %}class="active"{% endif %}><a href="#engagement-tab" data-toggle="tab"><i class="fa fa-briefcase"></i> {% trans %}profile.tab.terms{% endtrans %}</a></li>
        {% endif %}
        <li {% if tab == 'competency' %}class="active"{% endif %}><a href="#competency-tab" data-toggle="tab"><i class="fa fa-puzzle-piece"></i> {% trans %}profile.tab.competencies{% endtrans %}</a></li>
        <li {% if tab == 'files' %}class="active"{% endif %}><a href="#files-tab" data-toggle="tab"><i class="fa fa-cloud-upload"></i> {% trans %}profile.tab.files{% endtrans %}</a></li>
    </ul>

    <div class="tab-content profile-page">
        <div class="tab-pane profile{% if tab == 'profile' %} active{% endif %}" id="profile-tab">
            {% include 'FitchTutorBundle:Profile:profile.tab.html.twig' %}
        </div>
        <div class="tab-pane engagement{% if tab == 'engagement' %} active{% endif %}" id="engagement-tab">
            {% include 'FitchTutorBundle:Profile:ratehistory.html.twig' %}
            {% include 'FitchTutorBundle:Profile:engagement.tab.html.twig' %}
        </div>
        <div class="tab-pane competency{% if tab == 'competency' %} active{% endif %}" id="competency-tab">
            {% include 'FitchTutorBundle:Profile:competency.tab.html.twig' %}
        </div>
        <div class="tab-pane files{% if tab == 'files' %} active{% endif %}" id="files-tab">
            {% include 'FitchTutorBundle:Profile:files.tab.html.twig' %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% if is_granted('ROLE_CAN_EDIT_TUTOR') %}
        {% javascripts
            '@FitchTutorBundle/Resources/public/js/tutor.js'
            '@FitchTutorBundle/Resources/public/js/module/tutor-profile-coordinator.js'
            '@FitchTutorBundle/Resources/public/js/module/tutor-language.js'
        %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endif %}


    {#'@FitchTutorBundle/Resources/public/js/address.js'#}
    {#'@FitchTutorBundle/Resources/public/js/email.js'#}
    {#'@FitchTutorBundle/Resources/public/js/phone.js'#}
    {#'@FitchTutorBundle/Resources/public/js/rate.js'#}

{% endblock %}


