{% extends 'FitchFrontEndBundle::frontend.html.twig' %}

{% block main_header -%}
    <h2>{% trans %}report.title{% endtrans %}</h2><em>{% trans %}report.tagline{% endtrans %}</em>
{% endblock %}

{% block main_content -%}
    {% include 'FitchTutorBundle:Report:header.html.twig' %}
{% endblock %}