{% extends 'FitchFrontEndBundle::frontend.html.twig' %}

{% block main_header -%}
    <h2>{% trans %}language.new.verb{% endtrans %}</h2>
    <em>{% trans %}language.new.tagline{% endtrans %}</em>
{% endblock %}

{% block main_content -%}
    {% import 'FitchFrontEndBundle::helper.html.twig' as helper %}
    <div class="widget widget-table">
        {{ helper.widget_header('language.new.verb', 'fa fa-language', 'widget-language-new') }}
            {% form_theme form 'FitchFrontEndBundle:Form:horizontal.html.twig' %}
            {{ form(form, {'attr': {'class': 'form-horizontal'} }) }}
        {{ helper.widget_footer() }}
    </div>

    <div class="record_actions well">
        <a class="btn btn-default btn-s" href="{{ path('language') }}">
                <i class="fa fa-arrow-circle-left"></i> {% trans %}navigation.list{% endtrans %}
        </a>
    </div>
{% endblock %}
