{% extends 'FitchFrontEndBundle:Menu:sidemenu.html.twig' %}

{#

<ul class="dropdown-menu" role="menu">
    <li>
        <a href="{{ path('fos_user_profile_show') }}">
            <i class="fa fa-user"></i>
            <span class="text">Profile</span>
        </a>
    </li>
    <li>
        <a href="#">
            <i class="fa fa-cog"></i>
            <span class="text">Settings</span>
        </a>
    </li>
    <li>
        <a href="{{ path('fos_user_security_logout')}}">
            <i class="fa fa-power-off"></i>
            <span class="text">Logout</span>
        </a>
    </li>
</ul>

#}
