.records_list {
  .progress {
    margin-bottom: 0px;
  }

  .resource {
    background-color: #CCCCCC;
    .name {
      padding-left: 5px;
    }
  }

  .rate-limit {
    background-color: #eeeeee;
    .name {
      padding-left: 10px;
    }
  }

  .endpoint {
    background-color: #ffffff;
    .name {
      padding-left: 15px;
    }
  }

  .not-interesting {
    color: transparentize($text-color, .5);

    .progress-bar-success {
      background-color: transparentize($progress-bar-success-bg, .5);
    }

    .progress-bar-warning {
      background-color: transparentize($progress-bar-warning-bg, .5);
    }

    .progress-bar-danger {
      background-color: transparentize($progress-bar-danger-bg, .5);
    }
  }
}

.widget {
  .widget-header {
    .widget-header-toolbar {
      .btn {
        font-size: 12px !important; //Not really sure why I need this here the button styles differently to the one on the notifications page
        padding-top: 3px;
      }
    }
  }
}