/*
 * Notifications Page
 */

.notifications {
  table {
    table-layout: fixed;
  }

  colgroup {

    .col-id {
      width: 60px ;
    }

    .col-icon {
      width: 40px ;
    }

    .col-message {
  //    width: auto;
    }

    .col-created {
      width: 150px ;
    }

    .col-acknowledged {
      width: 60px;
    }

    .col-actions {
      width: 150px;
    }
  }

  @include max-screen($break-small) {
    tbody {
      position:relative;
      top:25px;
    }
  }

  @include max-screen($break-medium) {

    table, thead, tbody, th, td, tr {
      display: block;
    }

    // Move this well off screen
    thead tr {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }

    tr {
      border-bottom: 1px solid #ccc;
    }

    td {
      /* behave like a row */
      border: none;
      position: relative;
      padding-left: 50%;
    }

    td:before {
      top: 6px;
      left: 6px;
      width: 45%;
      padding-right: 10px;
      white-space: nowrap;
    }

    td:nth-of-type(1):before {
      content: "ID: "
    }
    td:nth-of-type(2):before {
      content: "Icon: "
    }
    td:nth-of-type(3):before {
      content: "Message: "
    }
    td:nth-of-type(4):before {
      content: "Received: "
    }
    td:nth-of-type(5):before {
      content: "Acknowledged: "
    }
    td:nth-of-type(6):before {
      content: "Actions: "
    }
  }

}