/*------------------------------------------------*/
/*	Page: Profile
/*------------------------------------------------*/

.profile,
.engagement,
.competency {
	h3 {
		font-family: $base-font-family;
		font-size: 1.2em;
		margin-top: 0;
		margin-bottom: 20px;

		i {
			margin-right: 5px;
		}
	}
}

.tab-content.profile-page {
	padding: 35px 15px;
}

/* profile tab */
.profile {
	.user-info-left,
	.user-info-right {
		padding: 10px 0;
	}

	.user-info-left {
		text-align: center;

		img {
			border: 3px solid #fff;
		}

		h2 {
			font-family: $base-font-family;
			font-size: 1.3em;
			margin-bottom: 20px;
		}
    }

	.user-info-right {
		border-left: 1px solid $line-color;
		padding-left: 30px;

		> div {
			margin-bottom: 40px;
		}

		@include max-screen($break-medium) {
			border-left: none;
			padding-left: 0;
		}
	}
}

.engagement {
  .user-info-left,
  .user-info-right {
    padding: 10px 0;
  }

  .user-info-left {
    > div {
      margin-bottom: 40px;
    }
  }

  .user-info-right {
    border-left: 1px solid $line-color;
    padding-left: 30px;

    // NOTES AREA

    @include max-screen($break-medium) {
      border-left: none;
      padding-left: 0;
    }
  }
}


.editable-address {
  label {
    width:70px;
  }
  padding-bottom: 5px;
}

.editable-email {
  label {
    width:70px;
  }
  padding-bottom: 5px;
}

.remove-email,
.remove-phone,
.remove-address {
  padding:1px 0 0 3px;
  @include border-radius(7px);
  width: 14px;
  height: 14px;
  border-color: darken($body-bg-color, 20%);
  background-color: $body-bg-color;
  color: darken($body-bg-color, 20%);
  font-size: 8px;
}

$color-toolbar-button: #333333;
$color-toolbar-background: #ebebeb;

.note-toolbar {
  .btn-default {
    color: $color-toolbar-button;
    background-color: $color-toolbar-background;
    border-color: darken($color-toolbar-background, 5%);

    &:hover, &:focus, &:active, &.active {
      color: $color-toolbar-button;
      background-color: darken($color-toolbar-background, 10%);
      border-color: darken($color-toolbar-background, 5%);
    }

    &.disabled, &[disabled], &.disabled:hover, &[disabled]:hover,
    &.disabled:focus, &[disabled]:focus, &.disabled:active, &[disabled]:active,
    &.disabled.active, &[disabled].active {
      background-color: lighten($color-toolbar-background, 10%);
      border-color: darken($color-toolbar-background, 5%);
    }

    .caret {
      border-top-color: $color-toolbar-button;
    }
  }
}
