ul#recipe-list {

  padding: 0;

  li {
      background-color: lighten($brand-primary, 70%);
      padding: 10px;
      margin-bottom: 3px;
      list-style-type: none;
      list-style-position: inside;

      .sort-handle {
          cursor: ns-resize;

          &:hover {
              color: $brand-primary;
          }
      }

      &.sortable-placeholder {
          background-color: #FFFFFF;
          border-color: lighten($brand-primary, 65%);
          border-style: dashed;
          border-width: 4px;
      }

      .row-actions {
         padding-top:25px;
      }

      .form-group {
          display: inherit;
          vertical-align: top;
          &.trigger-field {
            display: block;
            select {
              width: 100%;
            }
          }
      }

      .name-field {
         width: 100%;
      }

      .subform-group input,
      .subform-group textarea,
      .subform-group select, {
         display: block;
         width: 100%;
      }

      .tooltip-inner {
        white-space:pre;
        max-width: none;
      }

      span.help-text {
          position: relative;
          top: 1px;
          left: 3px;
      }
  }




}