div#wordlist {

  dd {
    float:left;
    line-height: 1.4;
    padding-top: 2px;
    margin-left: 5px;
  }
  dt {
    float:left;
    line-height: 1.4;
    clear:both;
  }

  span {
    &.normal {

    }
    &.match {
      background-color: $alert-success-bg;
      color: $alert-success-text;
    }
    &.nomatch {
      background-color: #f3bcb1;
      color: #bb2826;
    }
    &.label {
      padding: 3px 4px;
    }
  }
}