{% trans_default_domain 'FOSUserBundle' %}
<h1>Your user profile</h1>
<div class="fos_user_user_show profile-box center-block">
    <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
    <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
</div>
